.container {
    border: 1px solid black;
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 30px 40px repeat(3, 100px);
    grid-template-areas: 
    "display display display"
    "controls controls controls"
    "Q W E"
    "A S D"
    "Z X C";
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    
    .display {grid-area: display}
    .controls {grid-area: controls}
    #Q {grid-area: Q}
    #W {grid-area: W}
    #E {grid-area: E}
    #A {grid-area: A}
    #S {grid-area: S}
    #D {grid-area: D}
    #Z {grid-area: Z}
    #X {grid-area: X}
    #C {grid-area: C}
    
    .drum-pad {
        border: 2px solid black;
        width: 100px;
        height: 100px;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
